<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragment/bootstrap-frag :: head">
</head>
<body>

<div th:replace="fragment/bootstrap-frag :: header('수정 페이지')"></div>

<!-- 메뉴 -->
<nav>
    <div sec:authorize="isAuthenticated()"> <!-- 로그인 상태 -->
        <span sec:authentication="name"></span>
        <a class="btn btn-light" th:href="@{/logout}">로그아웃</a>
    </div>
    <a class="btn btn-secondary" th:href="@{/}">메인</a>
    <a class="btn btn-info" th:href="@{/post/read/{id}(id=${post.id})}">상세보기</a>
</nav>

<!-- 읽은 포스트 내용 템플릿 -->
<div>
    <form>
        <div>
            <label for="id" class="form-label">NO.</label>
            <input id="id" type="text" class="form-control"
                th:value="${post.id}" readonly />
        </div>
        <div>
            <label for="title" class="form-label">제목</label>
            <input id="title" type="text" class="form-control"
                th:value="${post.title}" autofocus />
        </div>
        <div>
            <label for="content" class="form-label">내용</label>
            <textarea id="content" class="form-control"
                th:text="${post.content}"></textarea>
        </div>
        <div>
            <label for="author" class="form-label">작성자</label>
            <input id="author" type="text" class="form-control"
                th:value="${post.author}" readonly />
        </div>
    </form>
</div>
<!-- 로그인한 사용자와 글 작성자가 같을 때 -->
<div th:if="${#authentication.name} == ${post.author}">
    <button class="btn btn-danger" id="btnDelete">삭제</button>
    <button class="btn btn-success" id="btnUpdate">수정 완료</button>
</div>


<div th:replace="fragment/bootstrap-frag :: jquery-js"></div>
<div th:replace="fragment/bootstrap-frag :: bootstrap-js"></div>
<script>
$(document).ready(function() {
	// 삭제 버튼 이벤트 핸들러(콜백) 등록
	$('#btnDelete').click(function() {
		const id = $('#id').val(); // 포스트 번호를 읽음.
		const result = confirm(id + '번 포스트를 정말 삭제할까요?');
		if (result) { // confirm 창에서 "확인" 버튼을 클릭한 경우
			// Ajax로 삭제 요청을 보냄.
			$.ajax({
				url: '/api/post/' + id,
				method: 'DELETE',
				success: function(data) {
					alert(data + '번 포스트 삭제 성공');
					location.href = '/';
				},
				error: function(err) {
					console.log(err);
				}
			});
		}
	});
	
	// 수정 완료 버튼의 이벤트 핸들러(콜백) 등록
	$('#btnUpdate').click(function() {
		const id = $('#id').val(); // 포스트 번호
		const title = $('#title').val(); // 포스트 제목
		const content = $('#content').val(); // 포스트 내용
		
		if (title == '' || content == '') {
			alert('제목과 내용은 반드시 입력!');
			return;
		}
		
		// Ajax 요청을 보내기 위한 데이터
		const data = {
				title: title,
				content: content,
		};
		
		// Ajax 요청 보내기
		$.ajax({
			url: '/api/post/' + id,
			method: 'PUT',
			contentType: 'application/json; charset=UTF-8',
			data: JSON.stringify(data),
			success: function(data) {
				alert(data.id + '번 포스트 수정 성공');
				location.href = '/post/read/' + data.id; // 상세보기 페이지로 이동.
			},
			error: function(err) {
				console.log(err);
			},
		});
		
	});
	
});
</script>
</body>
</html>