<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragment/bootstrap-frag :: head">
</head>
<body>

<div th:replace="fragment/bootstrap-frag :: header('상세보기 페이지')"></div>

<!-- 메뉴 -->
<nav>
    <div sec:authorize="isAuthenticated()"> <!-- 로그인 상태일 때 -->
        <span sec:authentication="name"></span>
        <a class="btn btn-light" th:href="@{/logout}">로그아웃</a>
    </div>
    <a class="btn btn-secondary" th:href="@{/}">메인</a>
    <!-- 로그인한 사용자 이름과 글 작성자 이름이 같은 경우 -->
    <span th:if="${#authentication.name} == ${post.author}">
        <a class="btn btn-info" th:href="@{/post/modify/{id}(id=${post.id})}">수정</a>
    </span>
</nav>

<!-- 읽은 포스트 내용 템플릿 -->
<div>
    <form>
        <div>
            <label for="id" class="form-label">NO.</label>
            <input id="id" type="text" class="form-control"
                th:value="${post.id}" readonly />
        </div>
        <div>
            <label for="title" class="form-label">제목</label>
            <input id="title" type="text" class="form-control"
                th:value="${post.title}" readonly />
        </div>
        <div>
            <label for="content" class="form-label">내용</label>
            <textarea id="content" class="form-control"
                th:text="${post.content}" readonly></textarea>
        </div>
        <div>
            <label for="author" class="form-label">작성자</label>
            <input id="author" type="text" class="form-control"
                th:value="${post.author}" readonly />
        </div>
        <div>
            <label for="createdDate" class="form-label">작성 시간</label>
            <input id="createdDate" type="text" class="form-control"
                th:value="${post.createdDate}" readonly />
        </div>
        <div>
            <label for="modifiedDate" class="form-label">수정 시간</label>
            <input id="modifiedDate" type="text" class="form-control"
                th:value="${post.modifiedDate}" readonly />
        </div>
    </form>
</div>


<div th:replace="fragment/bootstrap-frag :: jquery-js"></div>
<div th:replace="fragment/bootstrap-frag :: bootstrap-js"></div>

</body>
</html>