<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spring Boot</title>
</head>
<body>

    <h1>Spring Boot Example 3</h1>
    
    <form method="post" th:action="@{/ex4}">
        <input type="text" name="userName" placeholder="Username" />
        <br/>
        <input type="password" name="userPwd" placeholder="Password" />
        <br/>
        <input type="number" name="userAge" placeholder="Age" />
        <br/>
        <input type="submit" value="제출" />
    </form>

</body>
</html>