<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragment/bootstrap-frag :: head"></head>
<body>

    <div th:replace="fragment/bootstrap-frag :: header('메인 페이지')"></div>

    <nav>
        <a th:href="@{/post/create}"
            class="btn btn-primary">새 글 작성</a>
    </nav>

    <div> <!-- 검색 기능 -->
        <form class="form-group" th:action="@{/post/search}">
            <div class="row">
                <div class="col-4">
                    <select class="form-control" name="type">
                        <option value="t">제목</option>
                        <option value="c">내용</option>
                        <option value="tc">제목 + 내용</option>
                        <option value="a">작성자</option>
                    </select>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" 
                        name="keyword" placeholder="검색어" required />
                </div>
                <div class="col-2">
                    <input type="submit" class="form-control btn btn-light"
                        value="검색" />
                </div>
            </div>
        </form>
    </div>

    <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>수정시간</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="post : ${posts}">
                    <td th:text="${post.id}">ID</td>
                    <td>
                        <a th:href="@{/post/read/{id}(id=${post.id})}"
                            th:text="${post.title}">TITLE</a>
                    </td>
                    <td th:text="${post.author}">AUTHOR</td>
                    <td th:text="${post.modifiedDate}">MODIFIED</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragment/bootstrap-frag :: jquery-js"></div>
    <div th:replace="fragment/bootstrap-frag :: bootstrap-js"></div>
</body>
</html>